.todo-list .item {
    padding: 10px;
    background-color: #eee;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.todo-list .item:last-child {
    margin-bottom: 0;
}

.item .icon {
    max-width: 20px;
    flex-grow: 1;
    margin: 0 5px;
    transition: all ease .5s;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #353535;

    cursor: pointer;
}

.item .icon:hover {
    opacity: .6;
}

.item.level-1 {
    background: #EA9B9B;
}

.item.level-2 {
    background: #e9ea9b;
}

.item.level-3 {
    background: #9bb4ea;
}

.item.level-4 {
    background: #eeeeee;
}

.item.completed {
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(37, 174, 136, 0.2) !important;
    opacity: .8;
}

.icon.level-1 {
    background: #D64848 !important;
}

.icon.level-2 {
    background: rgba(182, 185, 55, 0.7) !important;
}

.icon.level-3 {
    background: rgba(63, 65, 202, 0.7) !important;
}

.icon.level-4 {
    /* transition: all ease .2s; */
    background: rgba(183, 183, 183, 0.7) !important;
}

.icon.completed {
    /* transition: all ease .2s; */
    background: #51bea0 !important;
}

.item .todo-content {
    flex-grow: 2;
    padding-left: 5px;
}