.todo {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;

    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;

    transform: translateX(100%);
    transition: all ease-in 1s;
    z-index: 10;
}

.todo.active {
    animation: sildeTodoInLeft ease-out 1s;
    transform: translateX(0%);
}

@keyframes sildeTodoInLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.todo-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: fixed;
    background-color: #ffffff;
    border-radius: 20px 0 0 0;
}

.todo-input input {
    width: 310px;
    height: 40px;
    border-radius: 50px;
    border: none;

    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 5px;
    color: #A3A3A3;

    padding: 20px;
    margin: 10px 10px 10px 0;
    outline: none;
    position: relative;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.todo-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all linear .1s
}

.todo-icon:hover {
    opacity: .7;
    transform: scale(.98);
}


.todo-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    z-index: 10;

    background-color: #ffffff;
    border-radius: 0 0 0 20px;
}