/* .navigation {
    background-color: #c4c4c4;
    width: 60px;
    min-height: 100vh;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    z-index: 10;
}

.navigation ul {
    position: relative;
    width: 50px;
    display: flex;
    flex-direction: column;
}

.navigation ul li {
    position: relative;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    display: flex;
}

.navigation a .icon {
    width: 60px;
    height:40px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
}

.navigation a .icon .fa {
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    color: #333;
    transition: 0.5s;
}

.navigation a .icon .fa:last-child {
    color: #188aff;
}

.navigation a:hover .icon .fa {
    transform: translateY(-100%)
}

.navigation a:hover .icon .fa:last-child {
    transform: translateY(-100%)
} */

.container .navigation {
    position: fixed;
    background-color: #eee;
    height: 100%;
}

.navigation .nav-body {
    position: relative;
    width: 60px;
    height: 100%;
    overflow: hidden;
    transition: 0.5s
}

.navigation .nav-body.active {
    width: 160px;
}

.navigation .nav-body ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation .nav-body ul li {
    position: relative;
    list-style: none;
    width: 100%;
    transition: .3s;
}

.navigation .nav-body ul li:hover {
    background-color: #ccc;
}

/* nếu flex mất thì thằng block sẽ được chọn */
.navigation .nav-body ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #666;
    font-weight: 500;
}

.navigation .nav-body ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation .nav-body ul li a .icon .fa {
    font-size: 24px;
}

.navigation .nav-body ul li a .title {
    position: relative;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.toggle {
    position: absolute;
    top: calc(50% - 20px);
    right: -20px;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #fff;
}

.toggle::before {
    content: '\f054';
    font-family: FontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 33px;
    text-align: center;
    color: #666;
    font-size: 16px;
}

.toggle.active::before {
    content: '\f053';
}