.navigation {
    background-color: #c4c4c4;
    width: 60px;
    min-height: 100vh;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    z-index: 10;
}

.navigation ul {
    position: relative;
    width: 50px;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
}

.navigation ul li {
    position: relative;
    list-style: none;
}

/* .navigation ul li::before {
    content: '';
    position: absolute;
    top: 26px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 50%;
}

.navigation ul li:hover::before {
    background-color: #188aff;
} */

.navigation a {
    text-decoration: none;
    display: flex;
}

.navigation a .icon {
    width: 60px;
    height:40px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
}

.navigation a .icon .fa {
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    color: #333;
    transition: 0.5s;
}

.navigation a .icon .fa:last-child {
    color: #188aff;
}

.navigation a:hover .icon .fa {
    transform: translateY(-100%)
}

.navigation a:hover .icon .fa:last-child {
    transform: translateY(-100%)
}

/* .navigation a .name {
    position: relative;
    top: 20px;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
}

.navigation a .name span {
    display: block;
    position: relative;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    transition: .5s;
}

.navigation a .name span::before {
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #188aff;
}

.navigation a:hover .name span {
    transform: translateY(20px);
} */