::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.todo-list {
    margin-top: 60px;
    padding: 10px;
    width: 400px;
    height: 80.1%;
    overflow: auto;
}